/*
HERO SECTION
*/
.hero-image{
  margin-top:-70px;
  background-image: url("https://raw.githubusercontent.com/srabalogh/srabalogh.github.io/navBar/images/IMG_9654.jpg");
  height: 98vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index:-1;
}
.hero-image::after{
  content:" ";
  display:block;
  position: absolute;
  left:0%;
  height: 98vh;
  width:100%;
  background: rgba(36, 28, 28, 0.6);
}
.text{
  font-family: 'Boogaloo', cursive;
  text-align: center;
  padding: 0 45px;
  position: absolute;
  top: 35%;
  color: #e3dbdb;
  font-size: 58px;
  z-index: 10;

}
.text::after{
  display: block;
  content: "I'm a front end developer living in São Paulo, Brazil.";
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 36px;
  width: 100%;
  animation: type 6000ms steps(60, end);
}


/* Animations */

@keyframes type{
  from { width: 0; }
}
