body{
  margin-top:50px;
  background-color:#f0f5f5;
  font-family: 'Fira Sans', sans-serif;
  position: relative;
}


.navbar-default {
  background-color:#161a1d;
}

.navbar-default .navbar-brand{
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.introduction{
  padding-top:100px;
  min-height:350px;
  text-align: justify; 
  font-size: 16px;
  /*background-color:#f0f5f5;
  border-color:#FFFFFF;*/
}
#img-about{
  padding-bottom: 10px;  
}
#img-aline{
  border-radius:10%;
}
#desc-port{
  color: #505050 ;
}
.cor-port{
  background: linear-gradient(to bottom, #669999 -5%, #660033 101%);
  padding-bottom: 30px;
}

#port-title,
#about-title,
#contact-title,
#followme-title{
  padding:10px;
  font-size: 36px;
}

#port-img{
    padding: 25px 10px 20px 10px;
    max-width: 100%;
    height: auto;
}

#port-row1,
#port-row2{
  padding-bottom: 20px;
}
#port-title{
  font-size: 50px;
  padding: 20px 20px;
  color:#d6d4e0;
}

#contact-container{
  padding:20px;
}
/* Style all font awesome icons */

/* Add a hover effect if you want */

#social-media{
  padding-top:40px;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-github {
    background: #FFFFFF;
    border-color: black;
    color: black;
}

.footer p {
	font-weight: 300;
	position: relative;
}

footer {
    padding: 50px 0;
    background: rgba(192, 192, 192, 0.9);
}