.wrap-contact{
  display:flex;
  justify-content: center;
  align-content: center;
}
.contact-me{
  display:flex;
  justify-content: center;
  align-items:center;
  background: url('../images/MG_7887_pb.jpg');
  background-size: cover;
  width: 100vw;
  height: 50vh;
  background-repeat:no-repeat;
  background-position: 50% 65%;

}
.contact-form{
  position: relative;
  overflow: hidden;
  display:flex;
  flex-flow: row wrap;
  justify-content: center ;
  align-items:center;
  /* align-content: space-around; */
  flex-direction: column;
  text-align: center;
  width: 0;
  opacity: 1;
  height: 50vh;
  background: #171717;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 1.51, 1, 1);
  /* transition: all 100ms ease-out; */
  margin: 0 auto;
}
.contact-form div{
  width: 100%;
  text-align: left;
  display: block;
  padding: 10px 50px;
  font-size:1.5rem;  
}
.contact-form a{

  font-weight: normal;
  text-decoration: none;
  color: #FFF;
}
.contact-form a:hover{
  color: rgba(155, 125, 189, 0.37);
}
.contact-form span:first-child{
  opacity: 0.8;
}
.contact-form-on{
  width: 40vw;
  opacity: 1;
} 
.btn-form,
#btn-contact{
 font-family: 'Boogaloo', cursive;
 align-items:center;
 background: none;
 color: #ccc;
 border: 0.02px solid #ccc;
 cursor: pointer;
}
#btn-contact{

 width: 250px;
 height: 70px;
 font-size: 25px;
 opacity: 0.5;
}
#btn-contact:hover{
  opacity: 1;
}
#btn-contact:focus{
  outline: none;
}
.btn-form{
  font-size: 1em;
  width: 150px;
  height: 30px;
  box-shadow: inset 0 0 5px 1px #363636
}

@media screen and (max-width: 480px){
  .contact-form-on{
    /* position: absolute; */
    /* right: 0; */
    width: 100vw;
    opacity: 1;
  }
  .contact-form div{
    padding: 10px 25px 10px 10px;
  }
  #btn-contact{

    width: 200px;
   }
}
