.wrap-contact{
  display:flex;
  justify-content: center;
  align-content: center;
}
.contact-me{
  display:flex;
  justify-content: center;
  align-items:center;
  background: url('../images/MG_7887_pb.jpg');
  background-size: cover;
  width: 100vw;
  height: 50vh;
  background-repeat:no-repeat;
  background-position: 50% 65%;

}
.contact-form{
  overflow: hidden;
  display:flex;
  justify-content: center ;
  align-items:center;
  /* align-content: space-around; */
  flex-direction: column;
  text-align: center;
  width: 0;
  opacity: 0;
  height: 50vh;
  background: #171717;
  transition: all 300ms ease-in;
}
.form-control{
  margin: 5px;
}

input.form-control,
textarea.form-control{
  font-family: 'Boogaloo';
  font-size: 14px;
  background: #171717;
  width: 40vw;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #FFF;
  /*   border: 1px solid #413F40;  */
  /*border-color: #FFF;*/
  /*box-shadow: inset 0 0 10px 1px #878787;*/
  /*border-radius: 5px;*/
  color: #FFF;
  padding: 8px 10px;
}

input:focus,
textarea:focus{
  outline: none;
  outline-offset: 0;
  border-bottom: 2px solid #704596;
}

textarea.form-control{
  height: 10vh;
}
.contact-form-on{
  width: 100vw;
  opacity: 1;
}
.btn-form,
#btn-contact{
 font-family: 'Boogaloo', cursive;
 align-items:center;
 background: none;
 color: #ccc;
 border: 0.02px solid #ccc;
 cursor: pointer;
}
#btn-contact{

 width: 250px;
 height: 70px;
 font-size: 25px;
 opacity: 0.5;
}
#btn-contact:hover{
  opacity: 1;
}
#btn-contact:focus{
  outline: none;
}
.btn-form{
  font-size: 1em;
  width: 150px;
  height: 30px;
  box-shadow: inset 0 0 5px 1px #363636
}

@media screen and (max-width: 480px){
  .contact-form-on{
    position: absolute;
    right: 0;
    width: 80vw;
    opacity: 1;
  }
}
