/*=================General styles=====================*/

.title-portfolio{
  padding: 30px 0 60px 0;
  color: #FFF ;
}
.wrap-portfolio{
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items:center;
  align-content: center;
  margin:0;
  padding:0 10px 50px 10px;
  /* font-size: 2.8rem; */
  text-align: center;
  background-color: #170F1F;
  /* background-color:#2D3047; */
  /* border-top: solid 1px #FFF; */
  /* 171717; */
}
/*Background image thumbnails*/
.calculator{
  background: url('../images/calculator_web.png');
}
.simon{
  background: url('https://s3-us-west-2.amazonaws.com/i.cdpn.io/1344730.aEoEYp.8b9101f6-d316-41d0-a537-c84290ea779a.png');
}
.tictactoe{
  background: url('../images/tictactoe_web.png');
}
.wikipedia{
  background: url('../images/Wikipedia_web.png');
}
.twitchtv{
  background: url('../images/twitchtv_web.png');
}
.weather{
  background: url('../images/weatherApp_web.png');
}
.bear{
  background: url('https://s3-us-west-2.amazonaws.com/i.cdpn.io/1344730.qPvgxv.60b76700-6cbf-41d6-ac8c-a3d0edf4af48.png');
}
.thumb{
  width: var(--tile-md-width);
  height: var(--tile-md-height);
  /* 251px; */
  background-size: cover;
  background-color: #191919;
  background-position: center center;
  background-blend-mode: normal;
  position:relative;
}
.simon,.bear{
  width: var(--tile-gd-width);
}
.calculator{
  width: var(--tile-sm-width);
}
.wikipedia{
  width: var(--tile-sm-width);
}
@media screen and (max-width:480px){
  .bear{
    width: var(--tile-md-width);
  }
}

.wrap-portfolio ul{
  list-style:none;
  padding:0;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.wrap-portfolio a{
/*   display:inline-flex; */
  text-decoration: none;
  font-size: 1.5em;
  color: #FFFFF0;

}
.wrap-portfolio li{
  margin: 5px;
}
@media screen and (max-width: 480px){
  .wrap-portfolio ul{
    flex-flow: row wrap;
  }
  .wrap-portfolio li{
    margin: 2px;
  }
  .wrap-portfolio a{
    font-size: 1em;
  }

}

/* Thumb styles */

.thumb:after{
  position:absolute;
  display:block;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0%;
  background: rgba(25, 26, 36, 0.7);
/*   box-shadow: inset 0 0 5px 4px rgba(25, 26, 36, 0.61); */
/* 	rgba(18, 15, 29,0.01) 0%,
	rgba(18, 15, 29,0.4) 3%
	); */
  opacity: 0;
  transition: all 900ms ease-out;
}


.title-tile{
  position: absolute;
  margin: 0 15px;
  bottom: 0%;
  left: 0%;
  opacity:0;
  z-index: 1;
}

.icons-port{
  position: absolute;
  margin: auto;
  padding: 20px;
  bottom: 0;  left: 0; top: 60%; right:0;
  opacity:  0;
  z-index: 1;
}

.icons-port li{
  padding: 0 20px;
/*   margin: 0 auto; */
}
@media screen and (max-width: 1024px){
  .icons-port{
    top: 80%;
  }
  .icons-port li{
    padding: 5px;
  }
  .svg-port{
    width:19.5px !important;
    height: 19.5px !important;
  }
}
.title-icons{
  position: absolute;
  margin: 0 auto;
  bottom: 0;  left: 0; top: 65%; right:0;
  font-size: 0.8em;
  opacity:  0;
  z-index: 1;

}
/* Hovers */
@media screen and (max-width:1024px){
  .thumb:after{
    height: 20%;
  }
  .title-tile{
    bottom:0%;
  }
  .thumb:after,
  .title-tile,
  .title-icons{
    opacity:1;
  }
}
.thumb:hover:after{
  opacity: 1;
  height: 50%;
}
.thumb:hover{
  box-shadow: inset 0 0 0 1px #FDFFFF;
  background-blend-mode:screen;
}
.thumb:hover .title-tile{
  opacity:1;
  bottom:35%;
  transition: all 900ms ease-out;
  transition-delay: 500ms;
}
.thumb:hover .icons-port,
.thumb:hover .title-icons{
  opacity:1;
  transition: all 1000ms ease-out;
  transition-delay: 1s;
}
